<div class="h-[90vh] shadow-xl bg-[#1B1B1B] text-[#D7D7D7] py-5">
    <ul class="flex flex-col items-start ml-6">
         
        <!-- HOME -->
        <a routerLink="/" class="sidebar-item">
            <fa-icon [icon]="faHome" class="mr-3"></fa-icon>
            Home
        </a>

        <!-- PROFILE -->
        <a class="sidebar-item">
            <fa-icon [icon]="faUser" class="mr-3"></fa-icon>
            Profile
        </a>

        <div class="my-4 h-px w-full bg-[#333]"></div>

        <!-- PARCELS -->
        <a routerLink="/parcels" class="sidebar-item">
            <fa-icon [icon]="faBox" class="mr-3"></fa-icon>
            Parcels
        </a>

        <!-- USERS -->
        <a routerLink="/users" class="sidebar-item">
            <fa-icon [icon]="faUsers" class="mr-3"></fa-icon>
            Users
        </a>

        <!-- ORDERS -->
        <a class="sidebar-item">
            <fa-icon [icon]="faClipboardList" class="mr-3"></fa-icon>
            Orders
        </a>

        <div class="my-4 h-px w-full bg-[#333]"></div>

        <!-- ELEMENTS -->
        <a class="sidebar-item">
            <fa-icon [icon]="faLayerGroup" class="mr-3"></fa-icon>
            Elements
        </a>

        <!-- SETTINGS -->
        <a class="sidebar-item">
            <fa-icon [icon]="faCog" class="mr-3"></fa-icon>
            Settings
        </a>

        <!-- BACKUPS -->
        <a class="sidebar-item">
            <fa-icon [icon]="faHdd" class="mr-3"></fa-icon>
            Backups
        </a>

        <div class="my-4 h-px w-full bg-[#333]"></div>

        <!-- CHARTS -->
        <a class="sidebar-item">
            <fa-icon [icon]="faChartBar" class="mr-3"></fa-icon>
            Charts
        </a>

        <!-- ALL LOGS -->
        <a class="sidebar-item">
            <fa-icon [icon]="faClipboard" class="mr-3"></fa-icon>
            All Logs
        </a>

        <!-- CALENDAR -->
        <a class="sidebar-item">
            <fa-icon [icon]="faCalendar" class="mr-3"></fa-icon>
            Calendar
        </a>

    </ul>
</div>
  