<div class="w-full h-full p-10">

    <!-- Greeting -->
    <h1 class="text-3xl font-semibold text-gray-800">
        Welcome Admin 👋
    </h1>

    <!-- Stats row -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 pt-5 w-full max-w-6xl mx-14 flex-1 mt-10 ">
        <app-stat-card 
        *ngFor="let s of stats" 
        [title]="s.title"
         [value]="s.value" 
         [up]="s.up" 
         [down]="s.down" />
    </div>

  
    <!-- Pie Chart Section -->
     <div class="flex justify-evenly items-center mt-12">
        <app-piechart>

        </app-piechart>

        <app-recent-users>

        </app-recent-users>
     </div>
   
</div>
  